global
    daemon
    maxconn 5000

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:8090
    default_backend http_back

backend http_back
    balance roundrobin
    option httpchk GET /api/products
    http-check expect status 200
    server server1 127.0.0.1:3001 check inter 3000 rise 2 fall 3
    server server2 127.0.0.1:3002 check inter 3000 rise 2 fall 3
    server server3 127.0.0.1:3003 check inter 3000 rise 2 fall 3

listen stats
    bind *:8081
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s