.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        flex: 1;
        max-width: 1200px;
        margin: 0 auto;
        padding: 24px;
        width: 100%;
    }
}